body{
    background-image:url("../img/sayagata.png");
    background-attachment: fixed;
}
#mainNav{
    background-color: #E8A85C;
}

.navbar-inverse .navbar-nav>li>a{
    color: #0f0f0f;
}

.navbar-inverse .navbar-brand{
    color: #0f0f0f;
}


h1,h2{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    font-family: Serif, "Times New Roman";
}


#mainHeader{
    margin-top:50px;
}


#about p{
    font-size:20px;
}

#portfolio p{
    font-size:20px;
}

#services p{
    font-size:20px;
}

#contact p{
    font-size:20px;
}

#name{
    font-family: 'Pacifico', cursive;
    font-size:20px;
}

/*hr breaks*/
hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: #C2E4E8;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #C2E4E8;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #2aabd2;
    left: 50%;
    margin-left: 33px;
    box-sizing: content-box;
    height:1000px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    margin-left:-6px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color:#e8a85c
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 100px;
    height: 100px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    margin-right:-65px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}

#lego{
    height:120px;
    width:120px;
    margin-left:13px;
    margin-top:-20px;
}

#utsa{
    height:120px;
    width:120px;
    float:right;
    margin-right:20px;
}

#teacher{
    height:120px;
    width:120px;
    margin-left:13px;
}

#code{
    height:120px;
    width:120px;
    float:right;
    margin-right:20px;
}

.alignright1{
    float:right;
}
.alignleft1{
    float:left;
}

.aligncenter{
    text-align:center;
}

.resumecolor{
    background-color: #3d845d;
}

ul a{
    color: #e8a85c;
}
.clearl{
    clear:left;
}